services:
  php:
    build:
      context: .
    container_name: php-container
    network_mode: host
    volumes:
      - ./app:/var/www/html
      - ./php.ini:/usr/local/etc/php/php.ini
    environment:
      DB_HOST: 127.0.0.1
      DB_PORT: 5432
      DB_NAME: app
      DB_USER: user
      DB_PASSWORD: password

  nginx:
    image: nginx:latest
    container_name: nginx-container
    network_mode: host
    volumes:
      - ./app:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: postgres:17
    container_name: postgres-container
    network_mode: host
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db-data:
